
<!DOCTYPE html>

{% extends "Entregable3/base.html" %}


<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}
            Agregar medico
        {% endblock title %}

    </head>
    <body>
        <!-- Page content-->
        {% block content %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3 container">
                        <div class="container rounded-5" style="background-color: #ced4da">
                            <h2 class="text-center pt-4">Registrar Medico</h2>
                            <form method="post" class="mb-4 p-4">
                                {% csrf_token %}
                                {{ form }}
                                <br />
                                <a class="btn btn-secondary" href="{% url "medico:index" %}">Volver</a>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock content %}
    </body>
</html>
